/* =========================================================
   VENUS - BEHEER PLANEET
   ========================================================= */

   /* FASE 1 - zwevende planeet */

.app-bubble.admin {
  background-image: url("../assets/images/venus.PNG") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

.app-bubble.admin.admin-phase-3 {
  width: 103vmin !important;
  height: 103vmin !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  z-index: 200 !important;
  overflow: visible !important;
}

.app-bubble.admin.admin-phase-3 
.admin-members-panel {
  transform: scale(1.5);
  transform-origin: center center;
}

/* terugkeer naar zweeffase */
.admin-members-panel{
  width: 70%x;
  height: 70%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 25px;
}

.admin-members-title {
  text-align: center;
  padding-top: 10px;
  color: yellow;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    /* Extra strak in Chrome/Edge/Safari */
    -webkit-text-stroke: 1px black;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.18em;
 }

.admin-toolbar{
  padding-bottom: 40px; 
   margin: -40px;
}

.admin-toolbar button {
  font-size: 1.85rem;
  min-width: 100px; 
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.58);
  color: white;
  cursor: pointer;
}
.members-table-wrap {   
  width: 100%;
  height: 64%;
  overflow: auto;
  border-radius: 14px;
  background: rgba(0, 45, 90, 0.65);}

.members-table {
  width: 100%;
  table-layout: fixed;
}
.members-table th:nth-child(1),
.members-table td:nth-child(1) {
  width: 40px;      /* of 40px, 80px, wat jij wilt */
  white-space: nowrap;
}
.members-table th,
.members-table td {
  font-size: 2rem !important;
  color: yellow;
  padding: 0.35rem 0.55rem;
  border-bottom: 1px solid rgba(255,255,255,0.18);
  text-align: left;
}

.member-input:disabled,
.app-input:disabled {
  font-size: 1.4rem !important;
  border-color: transparent;
  background: transparent;
  color: white;
}

.members-status {
  min-height: 2rem;
  text-align: center;
  font-size: 1.75rem;
  
  opacity: 0.95;
  margin-top: 0.35rem;
  color: yellow;

  /* Outline via text-shadow (Firefox-proof) */
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;

  /* Extra strak in Chrome/Edge/Safari */
  -webkit-text-stroke: 1px black;
}
