.app-bubble.admin {
  background-image: url("../assets/images/planet-admin.PNG") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}