.app-bubble.upload {
  background-image: url("../assets/images/planet-upload.PNG");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}
.app-bubble.upload input,
.app-bubble.upload textarea {
  width: 120%;
  font-size: 1.5rem;
  padding: 0.6rem;
  border-radius: 10px;
}
#uploadName,
#uploadVersion {
  height: 52px;
}

#uploadDescription {
  height: 220px;
}