.app-bubble.upload {
  background-image: url("../assets/images/planet-upload.PNG") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
}

.app-bubble.upload.focus {
  --x: 49% !important;
  --y: 49.4% !important;
    width: 61vw !important;
    height: 51vw !important;
  --opacity: 1 !important;
  z-index: 120 !important;
  transition:
    left 3400ms var(--ease),
    top 3400ms var(--ease),
    width 3400ms var(--ease),
    height 3400ms var(--ease),
    transform 3400ms var(--ease),
    opacity 900ms ease,
    filter 900ms ease !important;
}

.upload-title{
  font-size: 2rem !important;
  color:yellow;
  margin-bottom: 10px;
}
.upload-toolbar{
  display:flex;
  justify-content:center;
  gap: .5rem; 
  margin-bottom: 10px;
}

.upload-toolbar button{
  display:flex;
  justify-content:center;
  gap: .5rem;
  padding: 0.25rem 0.55rem;
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.28);
  color: white;
  font-size: 1.5rem !important;
}
.upload-form-wrap{
  flex:1;
  width: 500px;
  overflow-y:auto;
  display:flex;
  flex-direction:column;
  gap:.5rem;
}
.upload-form-wrap label{
  font-size:1rem;
  font-weight:bold;
}
.upload-form-wrap input,
.upload-form-wrap select,
.upload-form-wrap textarea {
  background: rgba(80, 80, 80, 0.45);
  color: white;
  font-size:1.1rem;
  border: 2px solid rgba(255,255,255,0.25);
  border-radius: 10px;
  padding: 0.4rem;
}

.upload-form-wrap textarea{
  min-height:100px;
}

