<div class="bubble-content">
  <div class="bubble-title">ACCOUNT</div>
  <form class="bubble-form" id="accountForm">
    <input id="nameInput" name="name" autocomplete="name" placeholder="Naam" />
    <input id="emailInput" name="email" type="email" autocomplete="email" placeholder="Email" required />
    <input id="passwordInput" name="password" type="password" autocomplete="current-password" placeholder="Paswoord" required />
    <button type="submit">OK</button>
  </form>
  <div class="status" id="accountStatus">Login of registreer</div>
  <div class="json-link" id="downloadUsersJson">download users JSON</div>
</div>
